
@CHARSET "UTF-8";

body { background-color: #fff; color: #000; overflow-x: hidden;
	transition: background-color .1s linear, border-color .1s linear, color .1s linear, opacity .1s linear;
}

#page {
	position: relative;
	max-width: 980px !important;
	margin: 0 auto;
}

#mainbody {
	position:relative; width:100%; display: block; height: auto; padding: 80px 0px;
}

#mainbody > .inner {
	padding: 0px 20px;
}

#mainbody section {
	margin-bottom: 20px;
}

.var_info { color: #888 !important; padding: 10px 20px; border: 1px solid #eee; background-color: #fafafa; }

span.spacer { opacity: 0.5; }
