@CHARSET "UTF-8";

body { font:82.5%/1.0em sans-serif; font-weight: 400; margin: 0 0 1.4em; line-height:1.4em; }

pre { white-space: pre-wrap; font-weight: 400; margin: 0 0 1.4em; line-height:20px; }

h1, h2, h3, h4, h5, h6, p { position: relative; }

h1 { font-size: 2.4em; font-family:sans-serif; font-weight:300; margin-bottom:0.4em; -webkit-font-smoothing: subpixel-antialiased; overflow: visible; line-height: 1.1em; color: #3980A8; }

h2 { font-size: 1.5em; font-family:sans-serif; margin:0 0 5px; line-height:1.5em; font-weight:normal; -webkit-font-smoothing: subpixel-antialiased; color: #3980A8; }

h3 { font-size:1.4em; font-family:sans-serif; margin:0 0 .5em; line-height:1.2em; font-weight:400; -webkit-font-smoothing: subpixel-antialiased; color: #3980A8; }

h4 { font-size:1.1em; font-family:sans-serif; margin-bottom:1em; font-weight:normal; text-transform: uppercase; -webkit-font-smoothing: subpixel-antialiased;}

h5 { font-size:1.1em; line-height:1.8em; font-family:sans-serif; font-weight:600; -webkit-font-smoothing: subpixel-antialiased;}

h6 { font-size: 8.0em; font-family:sans-serif; line-height:1.0em; font-weight:normal; margin-bottom:10px; -webkit-font-smoothing: subpixel-antialiased;}

span { position: relative; line-height: inherit; }

p { position: relative; margin: 0 0 20px; line-height:inherit; -webkit-font-smoothing: subpixel-antialiased; }

.centered { display: block; width: 100%; text-align: center; }

strong { font-size:inherit; font-family:sans-serif; font-weight: 600; }

.link { font-size:inherit; font-weight:normal; color: #3980A8; border-bottom: 1px solid transparent; }
.link:hover { border-bottom: 1px solid #3980A8; }

header > h1 { margin-bottom: 5px; }
header > h1 + h2 { color: #999; }
