<!DOCTYPE HTML SYSTEM>
<HTML lang="<py>print(self.session.lang, file=stdout)</py>" xml:lang="<py>print(self.session.lang, file=stdout)</py>">

	<HEAD>
		
		<meta charset="UTF-8">
			
		<meta name="description" content="Ledgable.Com">
		<meta name="keywords" content="BAAS, Blockchain, Service, Distributed">
		<meta name="author" content="LEDGABLE BV">
		<meta name="viewport" content="width=960">
			
        <title>Ledgable Indigo / Web Access</title>

		<link rel='preload' href='/css/core.css' as='style'>
		<link rel='preload' href='/css/base.css' as='style'>
		<link rel='preload' href='/css/type.css' as='style'>

	</HEAD>

	<BODY class='default_page <py>print(vars["browser"])</py>'>
		
		<section id="page">
			
			<section id="mainbody">%%content%%</section>
			
		</section>
		
		<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
		<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js'></script>
		
		<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js'></script>
		<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jsSHA/1.6.2/sha.js'></script>
		<script type='text/javascript' src='/js/jquery.json-2.2.min.js'></script>
		<script type='text/javascript' src='/js/jquery.form.js'></script>
		<script type='text/javascript' src='/js/jquery.cookie.js'></script>
		<script type='text/javascript' src='/js/jquery.md5.js'></script>
		<script type='text/javascript' src='/js/jquery.scale.js'></script>
		<script type='text/javascript' src='/js/dotimeout.js'></script>
		<script type='text/javascript' src='/js/excanvas.js'></script>

		<link rel='stylesheet' href='//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css' type='text/css' async defer>

		<link rel='stylesheet' href='/css/core.css' type='text/css' async defer>
		<link rel='stylesheet' href='/css/base.css' type='text/css' async defer>
		<link rel='stylesheet' href='/css/type.css' type='text/css' async defer>

		<script type='text/javascript' src='/js/app.core.js'></script>
		<script type='text/javascript' src='/js/app.example.js'></script>

		
	</BODY>
	
</HTML>
